<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/octicons.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" href="stylesheets/bib-publication-list.css"/>
    <link rel="stylesheet" href="stylesheets/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/nivo-slider.css" type="text/css" media="screen" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Computational NeuroImaging Lab</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <center>
          <h1>Computational Neuroimaging Laboratory</h1>
          <h2><a href="http://www.rfmh.org/nki/" target="_blank">Nathan S. Kline Institute for Psychiatric Research</a></h2>
          <h2><a href="http://www.childmind.org" target="_blank">Child Mind Institute</a></h2>
          <!--<h2>{{page.title}}</h2>-->
        </header>

        <section id="navbar" class="clearfix">
        <a href="index.html"  id="home" class="navlink"> Overview</a> 
        <a href="members.html"  id="members" class="navlink"> Lab Members</a>
        <a href="projects.html" id="projects" class="navlink"> Projects</a> 
        <a href="publications.html" id="pubs" class="navlink"> Publications</a>
        <a href="news.html" id="news" class="navlink"> News</a> 
        <a href="https://github.com/computational-neuroimaging-lab" id="github" class="navlink" target="_blank"></span> Github</a>
        
        </section>

        <hr>

        <section id="main_content">
            {{ content }}
        </section>

        <footer>
            <center>
            <a href="http://www.rfmh.org"><img src="images/nki_logo.jpg" height = "84"></a><a href="http://www.childmind.org"><img src="images/cmi_logo.jpg" height="84"></a>
        </center>
              <center>Research in the Computational Neuroimaging Laboratory is financially supported by the <a href="http://www.nimh.nih.gov/index.shtml">National Istitute for Mental Health</a>, the <a href="https://bbrfoundation.org">Brain & Behaviour Research Foundation</a> (previous), the <a href="http://www.childmind.org">Child Mind Institute</a>, the <a href="http://www.omh.ny.gov/">New York State Office of Mental Health</a>, the <a href="http://corporate.rfmh.org">Research Foundation for Mental Hygiene, Inc.</a>, and the <a href="http://www.rfmh.org">Nathan S. Kline Institute for Psychiatric Research</a>.</center>
        </footer>

                  <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-53194826-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

      </div>
    </div>
  </body>
</html>
